@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

body {
  background-color: #ebebeb;
  color: #333333;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #8d8d8d;
  text-align: left;
}

header {
  background-color: #333333;
  color: #ebebeb;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0 2rem 0;
  background-color: #8d8d8d;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #ebebeb;
  font-weight: bold;
}

h4 {
  margin: 0.5rem 0 0 0;
}

ul {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}

.button {
  background-color: #333333;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.modalButton {
  background-color: #ebebeb;
  color: #333333;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 1rem 0 0 1.3rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.logo {
  width: 150px;
}

.pageTitle {
  font-family: 'Bungee Outline', cursive;
  font-size: 64px;
  text-shadow: -4px -4px 2px #0fb2f2;
  letter-spacing: 4px;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.pageSubTitle {
  font-size: 28px;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 1px;
}

.compHeader {
  margin-bottom: 0;
}

.compSubHeader {
  margin: 0;
}

.rover, .pod, .marsWeather, .neo, .section1 {
  color: #ebebeb;
  background-color: #414141;
  padding-top: 0.5rem;
}

.section1 {
  padding: 2rem;
}

.neo {
  padding-bottom: 2rem;
}

.roverPic {
  border: 3px solid #ebebeb;
  border-radius: 5px;
  max-width: 50%;
  margin: 1rem 0 1rem 0;
}

.podPic {
  border: 3px solid #ebebeb;
  border-radius: 5px;
  max-width: 70%;
  margin: 1rem 0 2rem 0;
}

.thumbnail {
  border: 1px solid #ebebeb;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  margin: 0.5rem;
  align-self: center;
}

.marsRoverThumbnails {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #8d8d8d;
}

.marsRoverPic {
  background-color: #414141;
}

.podExplanation {
  text-align: justify;
  text-indent: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 18px;
  background-color: #8d8d8d;
  color: #333333
}

.weather {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.iframe {
  margin: 1rem 3rem 1rem 1rem;
  border: 3px solid #ebebeb;
  border-radius: 5px;
}

.weatherInfo {
  text-align: left;
  margin-top: 10%
}

.container {
  display: grid;
  grid-template-columns: 40vw 40vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

.container2 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: #8d8d8d;
  padding-top: 1rem;
}

.item, .itemPar {
  margin: 1rem;
  position: relative;
  place-self: center;
}

.itemPar {
  min-width: 352px;
  max-width: 470px;
}

.item2 {
  margin: 1rem;
}

.lightContent, .darkContent {
  text-align: justify;
  text-indent: 1rem;
  margin-top: 1.5rem;
}

.marsCover {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
  margin-top: auto;
}

.absolute {
  position: absolute;
  left: 2em;
  color: #ebebeb;
  text-shadow: 1px 1px #4e4e4e
}

.neoBlock {
  border-bottom: 1px solid #414141;
  padding-bottom: 1rem;
}

.neoPbottom {
  margin: 0 0 1rem 0;
}

.neoPtop {
  margin: 0;
}

.footerDiv {
  text-align: center;
}

.neoGreen {
  margin: 0 0 1rem 0;
  color: rgb(52, 104, 52);
}

.neoRed {
  margin: 0 0 1rem 0;
  background-color: rgb(202, 46, 46);
}

.modalBody {
  font-size: 20px;
}

.modalBody li {
  margin-left: 20%;
}

.modalBody ul {
  padding: 1rem 0 1rem 0;
}

.modalTitle {
  text-align: center;
  font-size: 18px;
}

.modalContent {
  border: 3px solid #ebebeb;
  background-color: #4e4e4e;
  text-indent: 1rem;
  padding: 1rem;
  position: fixed;
  text-align: left;
  width: 40%;
  right: 5%;
  top: 40%;
}

.navModal {
  display: flex;
  justify-content: flex-end;
  padding: 0  2rem 0 0;
  background-color: #4e4e4e
}