body {
  background-color: #ebebeb;
  color: #333333
}

header {
  border: 1px solid blue;
}

nav {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #333333
}

.logo {
  width: 150px;
}

.compHeader {
  margin-bottom: 0;
}

.compSubHeader {
  margin: 0;
}

.rover, .pod, .marsWeather {
  color: #ebebeb;
  background-color: #414141;
  padding-top: 0.5rem;
}

.roverPic {
  border: 3px solid #ebebeb;
  border-radius: 5px;
  max-width: 50%;
  margin: 1rem 0 1rem 0;
}

.podPic {
  border: 3px solid #ebebeb;
  border-radius: 5px;
  max-width: 70%;
  margin: 1rem 0 2rem 0;
}

.thumbnail {
  border: 1px solid #ebebeb;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  margin: 0.5rem;
}

.marsRoverThumbnails {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #8d8d8d;
}

.marsRoverPic {
  background-color: #414141;
}

.podExplanation {
  text-align: justify;
  text-indent: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 18px;
  background-color: #8d8d8d;
  color: #333333
}

.weather {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.iframe {
  margin: 1rem 3rem 1rem 1rem;
  border: 3px solid #ebebeb;
  border-radius: 5px;
}

.weatherInfo {
  text-align: left;
  margin-top: 10%
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
