body {
  background-color: #ebebeb;
  color: #333333
}

header {
  border: 1px solid blue;
}

nav {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #333333
}

.rover {
  color: #ebebeb;
  background-color: #414141;
}

.roverPic {
  border: 3px solid #ebebeb;
  border-radius: 5px;
  max-width: 50%;
}

.thumbnail {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.marsRoverThumbnails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #8d8d8d;
}

.marsRoverPic {
  background-color: #414141;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
