body {
  background-color: #ebebeb;
  color: #333333
}

header {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0 2rem 0;
  background-color: #8d8d8d;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #ebebeb;
  font-weight: bold;
}

h4 {
  margin: 0.5rem 0 0 0;
}

.button {
  background-color: #333333;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.logo {
  width: 150px;
}

.compHeader {
  margin-bottom: 0;
}

.compSubHeader {
  margin: 0;
}

.rover, .pod, .marsWeather, .neo, .section1 {
  color: #ebebeb;
  background-color: #414141;
  padding-top: 0.5rem;
}

.section1 {
  height: 30vh;
}

.neo {
  padding-bottom: 2rem;
}

.roverPic {
  border: 3px solid #ebebeb;
  border-radius: 5px;
  max-width: 50%;
  margin: 1rem 0 1rem 0;
}

.podPic {
  border: 3px solid #ebebeb;
  border-radius: 5px;
  max-width: 70%;
  margin: 1rem 0 2rem 0;
}

.thumbnail {
  border: 1px solid #ebebeb;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  margin: 0.5rem;
}

.marsRoverThumbnails {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #8d8d8d;
}

.marsRoverPic {
  background-color: #414141;
}

.podExplanation {
  text-align: justify;
  text-indent: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 18px;
  background-color: #8d8d8d;
  color: #333333
}

.weather {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.iframe {
  margin: 1rem 3rem 1rem 1rem;
  border: 3px solid #ebebeb;
  border-radius: 5px;
}

.weatherInfo {
  text-align: left;
  margin-top: 10%
}

.container {
  display: grid;
  grid-template-columns: 40vw 40vw;
  margin-left: 10vw;
  margin-right: 10vw;
  position: absolute;
  top: 32vh;
}

.container2 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: #8d8d8d;
  padding-top: 1rem;
}

.item, .itemPar {
  border: 1px solid blue;
  margin: 1rem;
  position: relative;
  place-self: center;
}

.itemPar {
  min-width: 352px;
}

.item2 {
  margin: 1rem;
}

.lightContent, .darkContent {
  text-align: justify;
  text-indent: 1rem;
}

.lightContent {
  color: #ebebeb
}

.marsCover {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
  margin-top: auto;
}

.absolute {
  position: absolute;
  left: 2em;
  color: #ebebeb;
  text-shadow: 1px 1px #4e4e4e
}

.neoBlock {
  border-bottom: 1px solid #414141;
  padding-bottom: 1rem;
}

.neoPbottom {
  margin: 0 0 1rem 0;
}

.neoPtop {
  margin: 0;
}

.neoGreen {
  margin: 0 0 1rem 0;
  color: rgb(52, 104, 52);
}

.neoRed {
  margin: 0 0 1rem 0;
  background-color: rgb(202, 46, 46);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
